@import "1-modules/_var";
@import "0-tools/reset";
@import "1-modules/header";
@import "1-modules/footer";
@import "1-modules/projects";
@import "1-modules/contact";
@import "1-modules/about";
@import "1-modules/modal";
@import "1-modules/slide_menu";

@font-face {
  font-family: 'MuseoSansMedium'; /*a name to be used later*/
  src: url('../fonts/MuseoSansRounded-500.woff2'); /*URL to font*/
}

@font-face {
  font-family: 'MuseoSansBold'; /*a name to be used later*/
  src: url('../fonts/MuseoSansRounded-700.woff2'); /*URL to font*/
}

@font-face {
  font-family: 'MuseoSansRegular'; /*a name to be used later*/
  src: url('../fonts/museo-100.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Brandon_blk'; /*a name to be used later*/
  src: url('../fonts/Brandon_blk.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Brandon_med'; /*a name to be used later*/
  src: url('../fonts/Brandon_med.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Brandon_reg'; /*a name to be used later*/
  src: url('../fonts/Brandon_reg.otf'); /*URL to font*/
}

 body{
   background-color: $bg_color;
 }


 @keyframes moveBelt{
  0%{
    width: 50%;
    margin-right: 0;
    opacity: 0;
  }
  10%{
    width: 50%;
    margin-right: 0;
    opacity: 1;
  }
  30%{
      width: 100%;
      margin-right: 0;
      opacity: 1;
  }
  50%{
      width: 100%;
      margin-right: 100%;
      opacity: 1;
    }
  70%{
    opacity: 0;
    width: 100%;
    margin-right: 100%;
  }  
  100%{
    width: 0%;
    margin-right: -100%;
  }  
  }
 
 


  body {
    font-size: small;
    text-align: center; }
  
  body::-webkit-scrollbar{
    background-color: darken($bg_color, 4%);
    width: 12px;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: #4c4c4c;
    border-radius: 20px;
    border: 3px solid darken($bg_color, 4%);
  }


 
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: #000;
  transition: all cubic-bezier(0.06, 0.46, 0.32, 1.14) .3s;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}


body {
	overflow: hidden;
}

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: darken($bg_color, 4%); /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
  width: 100%;
  height: 100%;
	position:absolute;
	display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
}

@keyframes heart-anim {
  0% {
    stroke-dashoffset: $heartLen;
    fill: transparent;
    stroke-width: 5px;    
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    stroke-width: 3px;    
  }
  90%{
    stroke-width: 0px;    
  }
  100% {
    stroke-dashoffset: 0;
    //fill: inherit;
  }
  
}

@keyframes notify {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}